.receipt-action-btn-container{
    width: 100%;
  
}
.receipt-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    
}
.receipt-btn > button{
    padding: 0.5rem 1rem;
    margin: 0rem 1rem;
    outline: none;
    border: none;
    font-size: 16px;
    background-color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.receipt-btn > button:hover{
    background-color: rgb(226, 116, 97);
    color: white;
}